.events-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 50vh;
  min-height: 500px;
  padding: 0 10vw;

  @media (max-width: 768px) {
    padding: 30px;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    height: fit-content;
  }

  .form-container {
    display: flex;
    flex-direction: column;

    height: 300px;
    width: 100%;
    max-width: 400px;
    padding: 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;

    span {
      display: block;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 16px;
    }

    .input-field {
      margin-bottom: 15px;
      margin-top: 5px;
      padding: 10px;

      border: 1px solid #ccc;
      border-radius: 4px;

      font-size: 16px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        border-color: #556da5;
        box-shadow: 0 0 0 0.2rem rgba(85, 109, 165, 0.25);
      }
    }

    .submit-button {
      padding: 10px 15px;
      border: none;
      border-radius: 4px;

      background-color: #556da5;
      color: white;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #40548b;
      }
    }
  }

  .events-progress-container{
    height: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 400px;

    @media screen and (max-width: 1200px) {
      height: 30vh;
      align-items: center;
    }
    .header-progress-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        color: #333;
      }

      p:first-child {
        margin-bottom: 10px;
        margin-right: auto;
        font-size: 20px;
        color: #556da5;
      }

      .event-timer-img{
        margin: 0 5px;
        width: 20px;
      }
    }

    .progress-elements-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: auto;
      height: 250px;

      .not-found{
        text-align: center;
        font-size: 26px;
        font-weight: 500;
        color: #4e618d;
        margin: auto;
      }
    }

    .expired-img{
      margin: 0 5px;
      width: 20px;
      display: inline-block;
      color: red;
    }

    .expired-events{
      display: inline-block;
      color: red;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
