.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 50vw;
  width: 100%;
  min-width: 30vw;
  max-height: 30vw;
  height: 100%;
  min-height: 10vw;
  margin: 5vh auto;

  background-color: rgba(226, 226, 226, 0.699);
  border: 3px dashed grey;

  font-size: 20px;
  line-height: 1.5;
  color: gray;

  > * {
    margin: 2% 0;
  }

  position: relative;
}

.label-btn {
  color: rgb(0, 138, 138);
  font-size: 15px;
  padding: 20px 40px;
  border: 1px solid rgb(0, 138, 138);
  border-radius: 5px;
  margin: 10px auto;

  &:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 70, 70);
  }
}

.active {
  border: 3px solid rgb(0, 61, 0);
  background-color: rgba(167, 252, 167, 0.411);
  color: rgb(53, 90, 29);
}

.drag-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.img-preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;

  .btn {
    color: rgb(0, 138, 138);
    font-size: 13px;
    padding: 20px 40px;

    border: 1px solid rgb(0, 138, 138);
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      border: 1px solid rgb(0, 70, 70);
      background-color: transparent;
    }
  }
}