.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  min-height: 60vh;
}

.load-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #556da5;
  color: white;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #40548b;
  }

  img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  .fixed-header {
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: rgb(69, 90, 137);
    border-bottom: 3px solid rgb(255, 255, 255);
    height: 30px;

    .info {
      font-size: 8pt;
      letter-spacing: 0.3px;
      color: white;
      margin-right: 4px;

      @media (max-width: 600px){
        display: none;
      }
    }

    a {
      font-size: 8pt;
      letter-spacing: 0.3px;
      color: lightyellow;
      text-decoration: underline;
    }
  }
}

