.progress-element-wrapper{
  display: flex;
  margin: 5px 0;

  .event-container {
    position: relative;

    .progress-container {
      display: flex;
      align-items: center;
      height: 30px;
      width: 30vw;

      border-radius: 3px;
      background-color: rgba(103, 110, 115, 0.27);

      @media screen and (max-width: 1200px) {
        width: 350px;
      }

      .filler {
        position: relative;
        display: flex;
        align-items: center;

        height: 100%;
        background-color: #556da5;
        border-radius: 3px 0 0 3px;

        .progress-label {
          position: absolute;
          width: 200px;
          padding: 0 5px;

          font-weight: bold;
          text-transform: capitalize;
          color: white;
        }
      }

      .progress-time {
        position: absolute;
        right: 0;
        justify-self: flex-end;
        margin-left: auto;
        padding: 0 5px;

        font-weight: bold;
        color: #80b7ff;
      }

      .expired{
        border-radius: 3px 0 0 3px;
        background-color: red;
      }
    }
  }

  .delete-event-btn{
    padding: 0;
    border: none;
    background-color: transparent;

    img{
      width: 23px;
    }
  }
}

