.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin: 0 20px;
  min-width: 200px;
  width: 100%;
  min-height: 400px;
  height: 100%;

  padding: 50px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 1%;

  word-wrap: break-word;
  text-align: center;
}

.icon{
  width: 72px;
  height: 72px;
  object-position: center;
  object-fit: cover;
}

.header{
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Poppins",Helvetica,Arial,sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
}

.info{
  font-family: "Poppins",Helvetica,Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #77838f;
}

.btn-link{
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.3125rem;

  transition: all 0.2s ease-in-out;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  background-color: #377dff;
  text-decoration: none;
  border-color: #377dff;
  color: white;

  &:hover{

    box-shadow: 0 4px 11px rgba(55,125,255,.35);
    transform: translateY(-3px);
    cursor: pointer;
  }
}